@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #393939;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(28, 28, 28, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(28, 28, 28, 0.36);
  border-radius: 20px;
  background: #e1e1e1;
  padding: 0.8rem 1rem;
  color: #6b6b6b;
  text-align: center;
  cursor: grab;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: appear 0.3s ease-in-out forwards;
  transition: background 0.3s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
  border-radius: 20px;
  transition: border 0.2s ease-in-out;
}

.start {
  background: linear-gradient(90deg, #944d85 0%, #1873b9 179.25%);
}

.progress {
  background: linear-gradient(90deg, #15619d 0%, #50a499 100%);
}

.done {
  background: linear-gradient(90deg, #3a7a52 0%, #78a5bb 100%);
}

.hold {
  background: linear-gradient(0deg, rgba(72, 76, 215, 0.5) 0%, rgba(76, 77, 140, 0.62) 100%);
}

.hide {
  display: none;
}

.hovered {
  border: 2px dashed blueviolet;
}

.bordered {
  border: 2px dashed #626262;
}

